/*{{{ 共用樣式  */
.no-margin-bottom {
  margin-bottom: 0;
}
/*}}}*/

/*{{{ 基本樣式調整  */
hr {
  border-top: 1px solid rgba(0, 0, 0, .3);
}

#page-wrapper {
  min-height: 100vh;
}
/*}}}*/

/*{{{ 選單超出範圍樣式  */
#side-menu {
  li {
    a {
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }
  }
}
/*}}}*/

/*{{{ 表單內標題不折行  */
.container-form {
  .form-group {
    margin-left: 0;
    margin-right: 0;
  }
  label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
/*}}}*/

/*{{{ 表格樣式  */
.data-table {
  overflow: hidden;
  div {
    overflow-x: auto;
    table {
      thead {
        th {
          white-space: nowrap;
        }
      }
    }
  }
}
/*}}}*/