/*{{{ 共用樣式  */
.no-margin-bottom {
  margin-bottom: 0;
}
/*}}}*/
/*{{{ 基本樣式調整  */
#page-wrapper {
  min-height: 100vh;
}
/*}}}*/
/*{{{ 選單超出範圍樣式  */
#side-menu li a {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
/*}}}*/
